body {
    background-image: url(obrazky/pozadi.jpg);
    background-size: cover;
    max-width: 900px;
    margin: auto;
}

li {
    display: flex;
    margin-right: 30px;
    color: white;
    float: inline-end;
    position: relative;
    top: 30px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.h {
    text-align: center;
    color: rgb(0, 59, 223);
    text-decoration: underline;
    padding: 80px 0px 10px 0px;
    margin: 0;
    font-size: 40px;
    font-family: sans-serif;
}

.hh {
    text-align: center;
    color: white;
    margin: 0;
    padding: 10px 0px;
    font-size: 40px;
    font-family: sans-serif;
}

.hhh {
    text-align: center;
    margin: 0;
    padding: 0px 0px 60px 0px;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
}

.prvni,
.druhy {
    border: solid 2px white;
    padding: 15px;
    font-family: sans-serif;
}

.button {
    text-align: center;
}

.schovat {
    visibility: hidden;
}

.celek {
    background-color: rgb(0, 59, 223);
    height: 80px;
    position: relative;
    top: -15px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.menulogo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.videt {
    position: relative;
    left: -20px;
    font-weight: 500;
    font-family: sans-serif;
}

.videt:hover {
    text-decoration: underline;
}


p {
    text-align: center;
    padding: 30px;
}

.obsal {
    padding: 100px 0 10px;
}

article {
    background-color: white;
    text-align: left;
    font-family: sans-serif;
    padding: 20px 40px;
}

.hdole {
    font-size: 30px;
}

#story {
    color: rgb(0, 128, 255);
    text-decoration: underline;
}

.hhdole {
    font-size: 25px;
}

.hhhdole {
    font-size: 15px;
    color: gray;
}

.tlacitka {
    text-align: center;
    padding: 20px 0px;
}

.ms {
    color: rgb(0, 128, 255);
    font-size: 18px;
    border: 3px solid rgb(0, 128, 255);
    border-radius: 50px;
    padding: 10px;
}

.cos {
    color: white;
    border: 3px solid rgb(0, 59, 223);
    border-radius: 50px;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(0, 59, 223);
}

.img {
    border-radius: 50px;
}

h6 {
    margin: 0px;
    padding: 0px 0px 0px 650px;
    color: gray;
}

h5 {
    margin: 20px 0px 0px 0px;
    color: gray;
}


@media screen and (min-width: 901px) {
    .celek {
        width: 100%;
    }

    .schovat {
        visibility: visible;
        font-family: sans-serif;
    }
}