.clanek {
    width: 100%;
    height: 200px;
    background-color: skyblue;
    margin-top: 15px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    font-family: sans-serif;
}

.postranni-panel {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 140, 255);
    margin-top: 15px;
    color: white;
    text-align: center;
    justify-content: center;    /*Tento a další dva řádky jsou na zarovnání do horiz. a vertik. centeru*/
    align-items: center;
    display: flex;
    font-size: 25px;
    font-family: sans-serif;
}

.nadpis{
    visibility: hidden;
}

@media screen and (min-width: 700px) {
    .postranni-panel {
        width: auto;
        display: flex;
        float: right;
        margin: 15px 20px;
        background: none;
    }

    aside:hover{
        text-decoration: underline;
    }


    .clanek {
        width: 15%;
        float: left;
        height: 100px;
        visibility: hidden;
    }

    .nadpis{
        color: white;
        text-align: center;
        
    }

    body{
        background-image: url(vesmir.jpg);
        background-size: cover;
    }
}