@font-face {
    font-family: sf;
    src: url(fonty/SFPRODISPLAYMEDIUM.OTF);
}

body{
    background-color: rgb(255, 255, 255);
}

.pocitac_zobrazeni{
    display: none;
}

.menu{
    width: 100%;
    height: 200px;
}

.panel{
    width: 100%;
    height: 100px;
    margin-top: 5px;
    background-color:rgb(39, 39, 39) ;
    text-align: center;
    color: #fff;
    z-index: 100;
}

aside.panel{
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu_odkaz{
    color: #fff;
    font-size: large;
    font-family: sf;
    text-decoration: none;
    text-transform: uppercase;
}

.logo_sparta{
    width: 150px;
    z-index: 10;
}

.dva > .panel >.logo_sparta {
    float: left;
}


.obrazky_automaticky_nad{
    width: 100%;
    overflow: hidden;
    border-bottom:5px solid rgb(85, 0, 0);
}

.obrazky_automaticky_pod{
    width: 100%;
    display: flex;
    animation: slide 15s infinite;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

.automaticky{
    width: 100%;
}

article{
    width: 100%;   
    background-color: #e7e7e7;
}


.posledni_zapasy{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;  
}

.posledni_zapasy > div {
    background-color: #e7e7e7;
}

.zapas_nadpis{
    margin-top: 0px;
    padding-top: 20px;
    padding-left:10%;
    color: rgb(100, 100, 100);
    font-family: sf;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}

.vlevo_nahore{
    text-align: center;
}

.vlevo_dole{
    text-align: center;
}

.vpravo_dole{
    text-align: center;
}

.vpravo_nahore{
    text-align: center;
}


.pismo_tabulka{
    font-family: sf;
    font-weight: 400;
    color:rgb(100, 100, 100) ;
}

.tlacitko_prubeh{
    text-align: center;
    padding-top:20px;
    padding-bottom: 50px;
}

.hzaklad{
    background-color: #fff;
    margin-bottom: 0px;
    padding: 30px 0px 50px 10%;
    color: rgb(85, 0, 0);
    font-family: sf;
    font-size: 20px;
}

.tlacitko_p{
    background-color: orange;
    border: 3px solid orange;
    border-radius: 50px;
    color: #fff;
    padding: 5px 20%;
    text-decoration: none;
    font-family: sf;
    font-weight: bold;
}


.tabulka_poradi_nad > div{
    background-color: #fff;
}

.tabulka_poradi_nad{
    background-color: #fff;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr 0.3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.tabulka_nadpis{
    font-family:sf;
    color: rgb(61, 61, 61);
}

.um{
    text-align: center;
    font-weight: 500;
}

.ty{
    text-align: center;
    font-weight: 500;
}

.za{
    text-align: center;
    font-weight: 500;
}

.bo{
    text-align: center;
    font-weight: 500;
}

.poradi{
    text-align: center;
    font-weight: 500;
    font-family: sf;
    color:rgb(100, 100, 100)
}

.poradi_acs{
    color: rgb(85, 0, 0); 
    text-align: center;
    font-weight: 600;
    font-family: sf;
}

.tymy{
    text-align: center;
    font-weight: 500;
    font-family: sf;
    color:rgb(100, 100, 100)
}

.tymy_acs{
    color: rgb(85, 0, 0); 
    text-align: center;
    font-weight: 600;
    font-family: sf;
}

.odehrane{
    text-align: center;
    font-weight: 500;
    font-family: sf;
    color:rgb(100, 100, 100)
}

.odehrane_acs{
    color: rgb(85, 0, 0); 
    text-align: center;
    font-weight: 600;
    font-family: sf;
}

.bodyy{
    text-align: center;
    font-weight: 500;
    font-family:sf;
    color:rgb(100, 100, 100)
}

.bodyy_acs{
    color: rgb(85, 0, 0); 
    text-align: center;
    font-weight: 600;
    font-family: sf;
}

.tlacitko_tabulka{
    text-align: center;
    background-color: #fff;
    padding: 40px 0px;
}

.tlacitko_ct{
    border: 3px solid #e7e7e7;
    border-radius: 20px;
    padding: 15px 80px;
    color: rgb(85, 0, 0);  
    text-decoration: none;
    font-family: sf;
    font-weight: 600;
}

.fans{
    width: 100%;
    height: 250px;
    border-bottom: rgb(85, 0, 0) 5px solid;
}

.fanshop{
    background-color:rgb(39, 39, 39) ;
}

.mzo > img{
    width: 100%;
    height: 100%;
    padding: 0px 20px;
}

.zacs{
    background-color: orange;
    border: 3px solid orange;
    border-radius: 50px;
    color: #fff;
    padding: 5px 20%;
    text-decoration: none;
    font-family: sf;
    font-weight: bold;
    text-transform: uppercase;
    }

    .gentext{
        text-align: justify;
        font-family: sf;
    }

    .gen{
        text-align: center;
        border-bottom: solid gray 3px;
        font-family: sf;
        font-size: 30px;
    }

    .zjisti{
        text-align: center; 
        padding: 50px 0px;  
        
        font-family: sf;
    }     

.nozicka{
    background-color:rgb(39, 39, 39) ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 10px;
}

.jmeno{
    text-align: center;
    color: #fff;
    font-family: sf;
    font-size: 25px;
}

.fortuna{
    text-align: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.gentext{
    padding: 5% 30px;
    text-align: justify;
}

@media screen and (min-width:901px) {
    .mobilni_zobrazeni{  
        display: none; 
    }

    .pocitac_zobrazeni{
        display:block;
    }

    header{
        max-width: 99%;
        margin: auto;
    }

    .vsemax{
        max-width: 99%;
        margin: auto;
    }
    
    header {
        background-color: rgb(39, 39, 39);
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; 
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px; 
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    li {
        margin-right: 15px; 
    }

    a {
        color: white;
        text-decoration: none;
        font-family: sf;
        font-weight: 600;
        font-size:medium;
    }

    .mmmm:hover {
        text-decoration: underline;
        text-decoration-color:rgb(85, 0, 0);
        text-decoration-thickness: 4px;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-right: 15px; 
    }

    .zprava1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-color: #d8dddf;
        padding: 0px 0px 30px;
    }

    .zpravaobrazek{
        grid-row: span 2; 
        width: 100%; 
        padding: 10px;   
    }

    .zpravaobrazek > img {
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .zprava1 > div {
        background-color: rgb(255, 255, 255);
    }
    
    .tovsenahore{
        display: grid;
        grid-template-columns:2fr 1fr ;
        grid-template-rows:2fr 2fr 2fr;
        background-color: #e7e7e7;
        padding: 0px 0px 0px 0px;
    }

    .pc1{
        grid-row: span 4;
        grid-column: span 1;
        
    }

    .pc1 > img {
        margin: 0;
        height: 100%;
        width: 100%;
    }

    .pc2{
        grid-row: span 2;
        grid-column: span 1;
        background-color: #fff;
        background:linear-gradient(to top, #fff 0%,#d8dddf 100%);
    }

    .pc3{
        grid-row: span 5;
        grid-column: span 1;
        background:linear-gradient(to bottom, #fff 0%,#d8dddf 100%);
    }


    .pc4{
        grid-row: span 2;
        grid-column: span 1 ;
        
    }

    .pc4 > img{
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .tlacitko_prubeh{
        margin-top:40px ;
        background-color: #ffffff00;
    }

    .posledni_zapasy> div{
        background-color: #ffffff00;
    }

    .gridpratelak{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        height: 200px;
    }

    .gridpratelak > div {
        background-color: rgba(255, 255, 255, 0);
        text-align: center;
    }

    .gridpratelak > .obr1>img{
        margin: 0px;
        float: right;
        position: relative;
        top: 5%;
    }

    .gridpratelak > .obr2>img{
        margin: 0px;
        float: left;
        position: relative;
        top: 5%;
    }

    .versus > .vs{
        position: relative;
        top: 30%;
        color: gray;
        font-family: sf;
    }

    .dalsinadpis{
        text-align: center;
        color: gray;
        font-family: sf;
    }

    .pratext{
        text-align: center;
        color: gray;
        font-family: sf;
    }

    .datum{
        text-align: center;
        font-family: sf;
    }

    .misto{
        text-align: center;
        font-family: sf;
        color: gray;
    }

    .koupit{
        text-align: center;
        padding-top:50px ;
        padding-bottom:50px ;
    }

    .listky{
    background-color: orange;
    border: 3px solid orange;
    border-radius: 50px;
    color: #fff;
    padding: 5px 20%;
    text-decoration: none;
    font-family: sf;
    font-weight: bold;
    text-transform: uppercase;
    }

    .gentext{
        text-align: justify;
        font-family: sf;
    }

    .gen{
        text-align: center;
        border-bottom: solid gray 3px;
        font-family: sf;
        font-size: 30px;
    }

    .zjisti{
        text-align: center; 
        padding: 50px 0px;  
        
        font-family: sf;     
    }

    .zacs{
        background-color: orange;
        border: 3px solid orange;
        border-radius: 50px;
        padding: 10px 20%;
        font-family: sf;
    }

    .zpravatext{
        padding: 5% 30px;
    }

    .novinky{
        background-color: #fff;
    }

    .nohy{
    background-color:rgb(39, 39, 39) ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    }
}